---
---
$primary-color: rgb(92, 177, 127);
$primary-alt-color: springgreen;
$link-color: $primary-color;

/* dracula syntax(code) highlighting colors(base16) */
/* https://github.com/dracula/base16-dracula-scheme */
$base00: #282936;
$base01: #3a3c4e;
$base02: #4d4f68;
$base03: #626483;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0a: #00f769;
$base0b: #ebff87;
$base0c: #a1efe4;
$base0d: #62d6e8;
$base0e: #b45bcf;
$base0f: #00f769;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";
@import "./gist-dark.css";
@import "./notice.css";

::selection {
    color: black;
    background: white;
}

.width-half {
    width: 50%
}

.notice--primary, .notice--info, .notice--warning,
.notice--success, .notice--danger {
  color: inherit;
  code {
    background-color: transparentize($color: $background-color, $amount: .8);
  };
  a {
    color: inherit;
  }
}

.notice--primary {
    background-color: $primary-alt-color;
}
  
.notice--info {
    background-color: $info-color;
}
  
.notice--warning {
    background-color: $warning-color;
}
  
.notice--success {
    background-color: $success-color;
}
  
.notice--danger {
    background-color: $danger-color;
}